<form id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
   <p>Take a long rest? On a long rest you will recover hit points, half your maximum hit dice, class resources, limited use item charges, and spell slots.</p>
    <div class="form-group">
        <label>Is New Day?</label>
        <input type="checkbox" name="newDay"/>
        <p class="hint">Recover limited use abilities which recharge "per day"?</p>
    </div>
</form>
